@import compass/css3

$red: #ED382E
$body-font: #5E1A17
$header-height: 80px

@mixin dq
  @media screen and (max-width: 640px)
    @content

@mixin mq
  +dq
    @content

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
    @content

*, *:after, *:before
  +box-sizing(border-box)

html, body
  height: 100%

html
  color: $body-font
  font-family: 'Libre Baskerville', serif

header, .blog-date, .blog-previous-posts, .blog-pagination
  font-family: 'Lato', sans-serif

body
  +transition-property(transform)
  +transition-duration(0.250s)
  font-size: 16px
  margin: 0

  &[s-slide-out]
    transform: translateX(-300px)

h1, h2, h3, h4, h5, h6
  display: inline-block
  font-family: 'Lato', sans-serif
  margin: 0

$h1: 2.44em
$h2: 2.06em
$h3: 1.5em
$h4: 1.28em
$h5: 1em

$scale: 0.6

h1
  font-size: $h1

  +dq
    font-size: $h1 * $scale

h2
  font-size: $h2

  +dq
    font-size: $h2 * $scale

h3
  font-size: $h3

h4
  font-size: $h4

h5, h6
  font-size: $h5

a
  +transition-property(color)
  +transition-duration(0.250s)
  color: $red
  font-weight: bold
  text-decoration: none

  &:hover
    color: lighten($red, 15%)
    text-decoration: underline

  &[m-no-underline]
    &:hover
      text-decoration: none

.highlight
  background-color: #F0EDED
  padding: 0.1em 0.5em
  overflow: hidden
  overflow-x: auto

ul
  list-style: none
  padding-left: 0

.content ul
  list-style: circle
