.blog-social-media
  position: fixed
  bottom: 1em
  left: 2.5em

  +mq
    position: relative
    text-align: center
    left: initial
    bottom: initial

  &--twitter, &--github
    display: block
    line-height: 1.25

    +mq
      display: inline-block
      margin: 0 0.25em

.blog-page
  display: inline-block
  line-height: 1.5
  padding-top: $header_height
  width: 70%
  padding-left: 7em

  +mq
    padding-left: 1em
    padding-right: 1em
    width: 100%

  &--container
    padding: 1em 0
    max-width: 37em

  &--post
    position: relative

.blog-date
  text-align: center
  line-height: 1
  width: 3em

  &[m-small]
    display: none
    width: auto
    text-align: left

    +mq
      display: block

  &[m-absolute]
    position: absolute
    top: 4.25em
    left: -4.5em

  &[m-fixed]
    position: fixed
    top: 9.75em
    left: 2.5em

    +mq
      display: none

  &--day
    font-size: 2em

    &[m-bold]
      font-weight: bold

  &--year
    color: #aaa
