%header(m-fixed)
  %h1
    %a(href="/" m-no-underline) Days of the Condor
  .blog-information(m-top-right)
    %a.blog-information--projects(href="https://github.com/mdiebolt") Projects
    %a.blog-information--about(href="http://diebo.lt") About
    .blog-information--recent-article-navigation
      .blog-information--top-bar
      .blog-information--middle-bar
      .blog-information--bottom-bar

